$navbar-h: 0;

$block1-height: 31.5rem;
$block2-height: 15rem;

// Colors
$green: #21ba45;
$red: #db2828;
$grey: #e0e1e2;
$blue: #2185d0;
$black: #1b1c1d;
$orange: #f2711c;
$yellow: #fbbd08;
$teal: #00b5ad;